@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.manrope {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  body {
    @apply flex flex-col h-screen justify-center items-center align-middle;
  }

  .form-element {
    @apply flex flex-row gap-3 justify-start align-middle sm:p-12 p-24 bg-gray-400;
  }
  
  .head-text {
    @apply justify-self-center font-bold text-2xl text-center whitespace-nowrap manrope;
  }
}
