@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--background: #ffffff;
	--foreground: #171717;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.manrope {
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.manrope-semibold {
	font-family: "Roboto", sans-serif;
	font-weight: 600;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}

	body {
		@apply flex flex-col h-screen justify-center items-center align-middle;
	}

	.form-element {
		@apply flex w-2/5 flex-col justify-center items-center align-middle sm:p-12 p-24;
	}

	.form-element *:not(.head-text, span:last-child) {
		@apply my-3;
	}

	.head-text {
		@apply justify-self-center manrope-semibold text-2xl text-center whitespace-nowrap tracking-tight leading-10;
	}

	.url-input {
		@apply p-4 w-full rounded-xl bg-secondary text-foreground text-sm outline-none text-tertiory mx-4;
	}

	button {
		@apply flex flex-row gap-3 justify-center items-center bg-primary w-full mx-4 rounded-xl text-white px-4 h-[40px] text-sm leading-5 tracking-wide disabled:opacity-70;
	}

	.form-element span {
		@apply self-start text-tertiory leading-3 text-sm;
	}

	.form-element span:nth-last-child(2) {
		@apply !text-[18px] text-black head-text;
	}

	.copyble-area {
		@apply relative w-full flex flex-row items-center !my-0;
	}

	.copyble-area input {
		@apply mx-0 !my-0;
	}

	.copyble-area svg {
		@apply absolute right-4 opacity-50 w-5 h-5;
	}

	.animate-spin {
		animation: spin 1s linear infinite;
		width: 20px;
		height: 20px;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}